<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>

    <div id="front_page">

        <h1 id="h1_index">Velkommen til {REDACTED}</h1>
        <h3 id="h3_index">Del hvad du har på hjerte, med masser af andre mennesker!</h3>


        <div id="cud_buttons">
            <button type="button" id="create_button" onclick="displayCreatePost()">Lav en post</button>
            <button type="button" id="update_button">Redigér en post</button>
            <button type="button" id="delete_button">Slet en post</button>
        </div>


        <div id="search_area">
            <div id="search_hash_posts">
                <label for="posts_from_hashtag">Søg efter posts, ud fra et hashtag:</label>
                <input type="text" id="posts_from_hashtag" name="hashtag_posts" placeholder="#SkrivHashtag">
            </div>

            <div id="search_btn">
                <button type="submit" id="hashtag_btn">Søg</button>
            </div>
        </div>

        <div id="post_area">
            <h2 id="post_h2">Opslag</h2>
            <div id="posts"></div>
        </div>

    </div>


    <div id="create_page"></div>

</body>
</html>