<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>

    <h2 id="h2_index">Velkommen til ***</h2>

    <nav id="navbar_index">
        <div id="nav_div">
            <button id="login_btn">Log på</button>
            <button id="create_acc_btn">Opret konto</button>
        </div>
    </nav>


    <div id="view_posts_div">
        <button id="posts_btn">Se alle opslag</button>
    </div>




</body>
</html>